h1 {
    text-align: center;
    font-size:90px;
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
}
.box-1 {
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    border: 1px solid black;
    color:black;
    background-color:rgb(136, 224, 155);
    height: 600px;
    width: 25%;
  }
  p{
      font-size: 30px;
  }
  .box-2 {
    font-size: 60px;
    text-align: center;
    border: 1px solid black;
    color: black;
    background-color: rgb(192, 202, 54);
    height: 600px;
    width: 50%;
    display: block;
  }
  img{
      margin-top: 5%;
      width: 90%;
      height: 60%;

  }
  .box-3 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    border:1px solid rgb(0, 0, 0);
    color: black;
    background-color:rgb(66, 212, 156);
    height: 600px;
    width: 25%;
  }
  .box-4{
    font-size: 60px;
    text-align: center;
    border:1px solid rgb(0, 0, 0);
    color: black;
    background-color:rgb(144, 133, 241);
    height:598px;
    width: 25%;
    display: block;
    padding-top: 100px;
  
  }
  .ai-stretch{
    display: flex;
    align-items: stretch;
    height: 500px;
  }
  .nav-list{
    display: flex;
    flex-direction: column;
   
    list-style: none;
    margin-left: 25%;
    margin-right: -1.9999%;
    margin-top: -33%;
    border: 19x solid black;
    height:598px;
  }
  .nav-item a:hover{
    text-decoration: underline;
  }
 
  .nav-item{
    width: 100%;
    flex: 1;
   font-size: 90px;
   height:598px;
   border: 1px solid black;
   margin-left: -3%;
  
  }
  